<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>allOrders</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="reset()">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- routerLink="/tabs/allOrders/:{{listOorder.id}}" -->
<ion-content>
  <ion-card *ngFor="let listOorder of ordersList | async; let i= index" (click)= "showDetail(i)" >
    <ion-card-header>
      <span>{{i+1}} : Order Time </span>{{ (listOorder.creationDate.toDate()  | date : 'dd/MM/yyyy h:mm a')}}
      <ion-icon color="primary" *ngIf="num!=i" name="add-circle-outline"></ion-icon>
      <ion-icon color="danger" *ngIf="num==i" name="remove-circle-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="num==i">
      <div>
        <span>Table :{{listOorder.idtable}}</span>
      </div>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img [src]="listOorder.items[0].imageUrl"></ion-img>
          </ion-thumbnail>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
